@import "../../css/_module-imports";

@include introContent;
.u4m-blog-cards {
    .intro-content {
        @include phoneMin {
            margin-bottom: 63px;
        }
        margin-bottom: 40px;
    }
    .CardItems {
        .CardItem {
            width: 100%;
            @include phoneMin {
                padding: 0 20px;
                width: 50%;
            }
            @include tabletvertMin {
                width: 33.33%;
            }

            @include laptopMin {
                padding: 0 26.5px;
            }

            .CardItemIn {
                .bIItmimg {
                    padding-bottom: 200px;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    background-size: cover;
                    background-position: center;
                    margin-bottom: 31px;
                    @include phone {
                        padding-bottom: 56.66%;
                    }
                    .absLink {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                    }
                }
                .cardCont {
                    .topicTagwrap {
                        @include eyebrow;
                        line-height: 1;
                        margin-bottom: 13px;
                        * {
                            color: $highlightColor;
                        }
                    }
                    .restitle {
                        margin-bottom: 10px;
                        a {
                            color: inherit;
                        }
                    }
                    .desc {
                        margin-bottom: 18px;
                    }
                    .readMore {
                        margin-top: auto;
                        .hs-arrow-btn {
                            margin: 0;
                            svg * {
                                fill: currentColor;
                            }
                        }
                    }
                    @include phoneMin {
                        display: flex;
                        flex-direction: column;
                        height: calc(100% - 231px);
                    }
                }
                @include phoneMin {
                    height: 100%;
                }
            }
        }
        row-gap: 30px;
        @include phoneMin {
            margin: 0 -20px;
        }
        @include laptopMin {
            margin: 0 -26.5px;
        }
    }
}
