@import "../../css/_module-imports";

.u4m-logo-trust-marks {
  position: relative;
  z-index: 99;
  @include tabbreakpoint(992px, 1440px) {
    margin-top: 0;
  }
  .logoSlider {
    margin-top: 40px;

    .splide__list {
      .splide__slide.logoItem {
        background: $white;
        width: 230px;
        padding: 14.64px;
        text-align: center;
        border-radius: 5px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateZ(0);
        img {
          object-fit: contain;
        }
      }
    }
  }

  .page-center.center {
    @include centerlg;
  }
}
