{% set moduleName = 'u4m-logo-trust-marks' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}
{{macros.contentGroup(module.intro_content)}}
<div class="page-center {{ module.module_settings.page_center_group }}">
{# Module content goes here #}
<div class="splide logoSlider {{ moduleName }} {{ name }}">
	<div class="splide__track">
		<div class="splide__list">
			{% for item in module.logo_item_group %}
			<div class="splide__slide logoItem">
			{% if item.image_field.src %}
				{% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
				{% if item.image_field.size_type == 'auto' %}
					{% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
				{% elif item.image_field.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				 {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
				<img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }}  style="width:{{ item.image_field.width }}px">
			{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</div>


</section>



{% require_js %}
	<script> 
	  document.addEventListener( 'DOMContentLoaded', function() {
		new Splide( '.{{ name }}.{{ moduleName }}.splide', {
				   type: 'loop',
				   easing: 'ease-in-out',
				   pagination: false,
				   pauseOnHover: true,
				   arrows: false,  
				   perPage: {{ module.module_settings.number_of_logos }},
				   gap: "30rem",
				   autoScroll:{
				   autoStart: true,
				   speed: 1,
				   },
								breakpoints: {
								1024: {
								perPage: 5,
								},
		768: {
		  perPage: 4,
		},
		  640: {
			perPage: 3,
		  },
			480: {
			  perPage: 2,
			},
	  },
	  }).mount( window.splide.Extensions );
	  });
	
	</script>
	{% end_require_js %}