@import "../../css/_module-imports";
@include introContent;




.u4m-logo-trust-marks {
  .logoSlider {
    margin-top: 40px;

    .splide__list {
      .splide__slide.logoItem {
        background: $white;
        width: 230px;
        padding: 14.64px;
        text-align: center;
        border-radius: 5px;
      }
    }
  }

  .page-center.center {
    @include centerlg;
  }
}