<!--
  templateType: page
  isAvailableForNewContent: true
  label: Unified 4 - Thank You Page
  screenshotPath: images/u4-thank-you-page.jpg
-->
{% extends './base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
{% dnd_area "voltaiq_dnd_area" %}
  {% dnd_section full_width=true %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path='../modules/u4m-hero', label='Hero' width="12" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path='../modules/u4m-cards', label='Cards' width="12" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
{% end_dnd_area %}  
</main>
{% endblock body %}