@import "../../css/_module-imports";

$background-color: rgba($backgroundColor, 0.1);

/* search */
/* stylelint-disable declaration-no-important */
/* stylelint-enable declaration-no-important */
/* clears the 'X' from Internet Explorer */
/* clears the 'X' from Chrome */
.hs-editor-hide-until-active {
  display: none;
}
.inpage-editor-active-field {
  .hs-editor-hide-until-active {
    display: block;
  }
  .hs-search-field__suggestions {
    position: absolute;
    width: 100%;
    border: none;
    background-color: $white;
    box-shadow: 1px 10px 16px -9px rgba(122, 122, 122, 0.75);
    top: 100%;
    margin-top: 5px;
    z-index: 3;
    border-radius: 10px;
  }
}
.hs-search-field {
  position: relative;
}
.hs-search-field__input {
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  &:focus {
    outline-style: solid;
  }
}
.hs-search-field__bar {
  button {
    svg {
      height: 10px;
    }
  }
}
.hs-search-field__suggestions {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
  li.results-for {
    font-weight: bold;
    display: block;
    padding: 5px 10px;
    line-height: 1.7;
  }
  a {
    display: block;
    padding: 5px 10px;
    line-height: 1.7;
    color: inherit;
    &:hover {
      background-color: $background-color;
      outline: none;
    }
    &:focus {
      background-color: $background-color;
      outline: none;
    }
  }
}
.hs-search-field--open {
  .hs-search-field__suggestions {
    position: absolute;
    width: 100%;
    border: none;
    background-color: $white;
    box-shadow: 1px 10px 16px -9px rgba(122, 122, 122, 0.75);
    top: 100%;
    margin-top: 5px;
    z-index: 3;
    border-radius: 10px;
    padding: 10px;
  }
}
.hs-search-field__suggestions-container {
  position: relative;
  flex-basis: 100%;
  color: $blackLight;
}
.hs-search-field__form {
  display: flex;
  flex-wrap: wrap;
}
.hs-search-field__label {
  flex-basis: 100%;
}
.hs-search-field__bar--button-beneath {
  .hs-search-field__input {
    flex-basis: 100%;
  }
  .hs-search-field__button {
    margin-top: 0.725rem;
    margin-right: 0.725rem;
  }
  .hs-search-field__suggestions-container {
    min-width: 75%;
    flex-basis: auto;
    flex-grow: 1;
  }
}
.hs-search-field__bar--button-align-right {
  .hs-search-field__button {
    margin-right: 0;
    margin-left: 0.725rem;
    order: 2;
  }
}
.hs-search-field__button--labelled {
  .hs_cos_wrapper_type_icon {
    margin-right: 0.5rem;
  }
}
.show-for-sr {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}
input[type="search"] {
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}
input[type="search"] {
  &::-webkit-search-decoration {
    display: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
  &::-webkit-search-results-button {
    display: none;
  }
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.blogListing {
  .topBnr {
    padding-bottom: 50px;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    background: $gradientObsidian;
    @include phoneMin {
      padding-top: 156px;
      padding-bottom: 107px;
    }
    .page-center {
      max-width: 1254px;
      position: relative;
      z-index: 3;
      > .topttl {
        text-align: center;
        margin-bottom: 56px;
      }
      .featCardsOuter {
        .featCards {
          position: relative;
          row-gap: 40px;
          @include phoneMin {
            display: block;
          }
          .featright {
            width: 100%;
            background: $gradientObsidian;
            border-radius: 10px;
            padding: 20px;
            @include phoneMin {
              padding: 87px 100px 87px 18%;
              width: calc(100% - 237px);
              margin-left: auto;
            }
            @include tabletvertMin {
              padding-left: 25%;
            }
            @include navbreakMin {
              padding-left: 364px;
            }
            .cardCont {
              .topicTagwrap {
                @include eyebrow;
                line-height: 1;
                margin-bottom: 16px;
                * {
                  color: $highlightColor;
                }
              }
              .restitle {
                margin-bottom: 13px;
                a {
                  color: inherit;
                }
              }
              .desc {
                margin-bottom: 34px;
              }
              .readMore {
                .hs-button {
                  margin: 0;
                }
              }
              @include phoneMin {
                display: flex;
                flex-direction: column;
                height: calc(100% - 231px);
              }
            }
          }
          .featleft {
            @include phoneMin {
              position: absolute;
              top: 50px;
              bottom: 50px;
              max-width: 41.2%;
              height: calc(100% - 100px);
            }
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            .cardImg {
              height: 100%;
              width: 100%;
              a {
                @include phoneMin {
                  padding-bottom: 0;
                }
                padding-bottom: 56.66%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }
    &:before {
      left: 0;
      content: "";
      position: absolute;
      width: 1369.16px;
      height: 609.76px;
      background: $darkBluemd;
      filter: blur(196.21px);
      transform: matrix(-0.64, -0.77, 0.72, -0.69, 0, 0);
    }
    &:after {
      right: -40px;
      top: 0;
      content: "";
      position: absolute;
      width: 1369.16px;
      height: 609.76px;
      background: $darkBluemd;
      filter: blur(196.21px);
      transform: matrix(-0.64, -0.77, 0.72, -0.69, 0, 0);
    }
  }
  .filterWrap {
    padding: 20px 0;
    position: relative;
    @include phoneMin {
      margin-top: -24px;
      padding: 0;
    }
    .page-center {
      max-width: 780px;
      > .flex_row {
        row-gap: 10px;
        @include phoneMin {
          margin: 0 -10px;
        }
        .col {
          max-width: 100%;
          @include tabletvertMin {
            max-width: 380px;
          }
          @include phoneMin {
            padding: 0 10px;
            max-width: 50%;
          }
          width: 100%;
          select {
            padding: 10px 20px;
            font-size: 16px;
            line-height: 28px;
            background: $gray1;
            border-radius: 5px;
            border: none;
            appearance: none;
            outline: none;
            color: $blackLight;
            padding-right: 40px;
            background-repeat: no-repeat;
            background-position: calc(100% - 20px);
          }
          .hs-search-field__form {
            padding: 0;
            margin: 0;
            overflow: unset;
            .hs-search-field__input {
              padding: 10px 20px;
              font-size: 16px;
              line-height: 28px;
              background: $gray1;
              border-radius: 5px;
              border: none;
              appearance: none;
              outline: none;
              color: $blackLight;
              &::placeholder {
                color: $blackLight;
              }
            }
          }
        }
      }
    }
  }

  .featCardsListWrap {
    background-color: $backgroundColor;
    padding-top: 50px;
    padding-bottom: 80px;
    @include phoneMin {
      padding-top: 84px;
      padding-bottom: 122px;
    }
    .blogFeedList {
      @include blogCardItem;
    }

    .pagination {
      margin: 0;
      margin-top: 85rem;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      @include tabletvert {
        margin-top: 50rem;
      }
      li {
        a {
          @include h6;
          border-radius: 100%;
          width: 50rem;
          height: 50rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          margin: 0;
          color: #c1c7cb;
        }
        margin: 0;
        a.blogPgactive {
          color: #00e9ba;
          background-color: rgba(183, 186, 188, 0.1);
        }
        a:hover {
          color: #00e9ba;
          background-color: rgba(183, 186, 188, 0.1);
        }
      }
    }
  }
}
