{% set featrows = blog_recent_tag_posts(group.id,module.featured_posts.select_tag,1) %} 


<section class="{{ name }} blogListing  {% if blog_author %}authorPage{% endif %}">

	<div class="topBnr banner_is_here">
		<div class="page-center">  
			<div class="topttl {% if current_page_num  == 1 %}{% else %}noftrmg{% endif %}"  {% if blog_author || topic %} style="margin-bottom: 0;" {% endif %}>
				{% if blog_author %}
				<h2>{{ blog_author.display_name }}</h2>
				{% elif topic %}
				<h2>{{ topic|replace('-',' ')|capitalize }}</h2>
				{% else %}
				<h2>{{ group.public_title }}</h2>
				{% endif %}	

			</div> 
			{% if not blog_author && not topic %}
			{% if current_page_num  == 1 %}
			<div class="featCardsOuter {% if current_page_num  > 1 or (request.full_url is string_containing "/tag/") or (request.full_url is string_containing "/topic/") or (request.full_url is string_containing "/author/") or (request.full_url is string_containing "/page/") %} hide{% endif %}">
				{% for row in featrows %} 
				<div class="featCards flex_row {% if not row.featured_image %}noImage{% endif%}">  
					{% if row.featured_image %}
					<div class="featleft">  
						<div class="cardImg">
							<a href="{{ row.absolute_url }}" style="background-image:url({{ row.featured_image }});"></a>
						</div>
					</div>
					{% endif %}
					<div class="featright">  
						<div class="cardCont">
							<div class="topicTagwrap"> 
								{% if row.tag_list %}
								{% for tag in row.tag_list %}
								{% if tag.name=="Featured" %}
								{% else %}
								{% if loop.first %}
								<a class="topicTag" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>
								{% endif %}
								{% endif %}
								{% endfor %}{% endif %}
							</div>
							<h3 class="h3 restitle"><a href="{{ row.absolute_url }}">{{ row.name|striptags}}</a></h3>  
							<div class="desc">{{ row.post_list_content|striptags|safe|truncatehtml(100, '...' , false) }}</div>  
							<div class="readMore"><a href="{{ row.absolute_url }}" class="hs-button">Continue Reading</a></div>  
						</div> 
						
						
					</div>
				</div> 
				{% endfor %} 
			</div> 
			{% endif %}
			{% endif %}	
		</div>

	</div>
	<div class="filterWrap">
		<div class="page-center"> 
			<div class="flex_row">  
				<div class="col SearchBtn">
					<div class="srchSection">
						{# Search input - version 1 #}
						{% set hide_search_label = module.search.input.field_label is truthy ? false : true %}
						{% set button_position_class = "hs-search-field__bar--button-" ~  module.search.styles.button.position.button_position %}
						{% set button_alignment_class = module.search.styles.button.position.button_position == "beneath" ? "hs-search-field__bar--button-align-" ~ module.search.styles.button.position.button_alignment : "" %}
						{% set has_search_icon = module.search.button.icon.name is truthy ? true : false %}
						{% set show_suggest_in_editor_class = is_in_editor ? "hs-search-field--open": "" %}

						{% set button_label_class = module.search.button.button_label is truthy ? "hs-search-field__button--labelled" : "" %}
						{% set search_page = module.search.results.use_custom_search_results_template is truthy and module.search.results.path_id ? content_by_id(module.search.results.path_id).absolute_url : site_settings.content_search_results_page_path %}

						{% unless (search_page is string_containing "//") %}
						{% set search_page = "/" ~ search_page %}
						{% endunless %}

						{% set search_page = search_page|regex_replace("http:", "") %}

						{# Add a checker here so any new border object keys don't get included in CSS loop. #}
						{% set valid_border_sides = [ "top", "right", "left", "bottom" ] %}


						<div class="hs-search-field">
							<div class="hs-search-field__bar {{ button_position_class }} {{ button_alignment_class }} {{ show_suggest_in_editor_class }}">
								<form data-hs-do-not-collect="true" class="hs-search-field__form" action="{{ search_page }}">

									<input
												 role="combobox"
												 aria-expanded="false"
												 aria-controls="autocomplete-results"
												 aria-label="{{ module.search.default_text.sr_search_field_aria_label }}"
												 type="search"
												 class="hs-search-field__input resourceInput"
												 id="{{ name ~ "-input" }}"
												 name="q"
												 autocomplete="off"
												 aria-autocomplete="list"
												 placeholder="{{ module.search.input.placeholder }}">

									{% if module.search.results.content_types.website_pages %}
									<input type="hidden" name="type" value="SITE_PAGE">
									{% endif %}
									{% if module.search.results.content_types.landing_pages %}
									<input type="hidden" name="type" value="LANDING_PAGE">
									{% endif %}
									{% if module.search.results.content_types.blog_posts %}
									<input type="hidden" name="type" value="BLOG_POST">
									<input type="hidden" name="type" value="LISTING_PAGE">
									{% endif %}
									{% if module.search.results.content_types.knowledge_articles %}
									<input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
									{% endif %}
									{% if module.search.results.group_id %}
									<input type="hidden" name="groupId" value="{{ module.search.results.group_id }}">
									{% endif %}
									<div class="hs-search-field__suggestions-container {% if is_in_editor %} hs-editor-hide-until-active {% endif %}">
										<ul
												id="autocomplete-results"
												role="listbox"
												aria-label="term"
												class="hs-search-field__suggestions">
											{% if is_in_editor %}
											<li role="option" tabindex="-1" aria-posinset="1" aria-setsize="3" class="results-for">{{ module.search.default_text.as_example_search_results }}</li>
											<li role="option" aria-posinset="2" tabindex="1"><a href="#">{{ module.search.default_text.as_example_line_1 }}</a></li>
											<li role="option" aria-posinset="3" tabindex="2"><a href="#">{{ module.search.default_text.as_example_line_2 }}</a></li>
											<li role="option" aria-posinset="4" tabindex="3"><a href="#">{{ module.search.default_text.as_example_line_3 }}</a></li>
											{% else %}
											<li role="option" tabindex="-1" aria-posinset="1" aria-setsize="0" class="results-for show-for-sr">{{ module.search.default_text.sr_empty_search_field_message }}</li>
											{% endif %}
										</ul>
									</div>
								</form>
							</div>
							<div id="sr-messenger" class="hs-search-sr-message-container show-for-sr"
									 role="status"
									 aria-live="polite"
									 aria-atomic="true">
							</div>
						</div>

						{% require_js position="head" %}
						<script data-search_input-config="config_{{ name }}" type="application/json">
        {
          "autosuggest_results_message": "{{ module.search.default_text.autosuggest_results_message|escapejson }}",
          "autosuggest_no_results_message": "{{ module.search.default_text.autosuggest_no_results_message|escapejson }}",
          "sr_empty_search_field_message": "{{ module.search.default_text.sr_empty_search_field_message|escapejson }}",
          "sr_autosuggest_results_message": "{{ module.search.default_text.sr_autosuggest_results_message|escapejson }}",
          "sr_search_field_aria_label": "{{ module.search.default_text.sr_search_field_aria_label|escapejson }}",
          "sr_search_button_aria_label": "{{ module.search.default_text.sr_search_button_aria_label|escapejson }}"
        }
						</script>
						{% end_require_js %}

					</div>
				</div> 
				<div class="col blogTags">
					{% set my_topics = blog_topics(group.id, 10) %}
					<select id="tinynav1" class="tinynav tinynav1" style="background-image: url({{ get_asset_url('../../templates/images/selectArrow.png') }});">
						<option value="{{ group.absolute_url }}">Filter by Topic</option>
						{% for item in my_topics %}
						{% if item=="Featured"%}
						{% else %}
						<option value="{{ blog_tag_url(group.id, item.slug) }}" {% if content.absolute_url == blog_tag_url(group.id, item.slug) %} selected{% endif %}>{{ item }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>

			</div>
		</div>
	</div>

	<div class="featCardsListWrap">
		<div class="page-center">
			<div class="cardSctn blogFeedList">
				<div class="blogFeedListRow CardItems flex_row">
					{% set show_featured_image = false %}
					{% if row.featured_image %}
					{% if blog.listing_page_id %}
					{% if module.blog_listing.featured_image %}
					{% set show_featured_image = true %}
					{% endif %}
					{% else %}
					{% if group.use_featured_image_in_summary %}
					{% set show_featured_image = true %}
					{% endif %}
					{% endif %}
					{% endif %}

					{% for content in contents %}
					<div class="blogItem CardItem"> 
						<div class="CardItemIn"> 
							{% if module.blog_listing.featured_image %}
							{% if content.featured_image %}
							<div class="bIItmimg" style="background-image:url({{ content.featured_image  }});">
								<a href="{{ content.absolute_url }}" class="absLink"></a>
							</div>
							{% endif %}
							{% endif %}
							<div class="cardCont">
								{% if module.blog_listing.tags %}
								<div class="topicTagwrap"> 
									{% if content.tag_list %}
									{% for tag in content.tag_list %}
									{% if tag.name=="Featured" %}
									{% else %}
									{% if loop.first %}
									<a class="topicTag" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>
									{% endif %}
									{% endif %}
									{% endfor %}{% endif %}
								</div>

								{% endif %}
								{% if module.blog_listing.title %}
								<h4 class="h4 restitle"><a href="{{ content.absolute_url }}">{{ content.name|striptags}}</a></h4>  
								{% endif %}
								{% if module.blog_listing.description %}
								<div class="desc">{{ content.post_list_content|striptags|safe|truncatehtml(100, '...' , false) }}</div>  
								{% endif %}
								{% if module.blog_listing.read_more %}
								<div class="readMore"><a href="{{ content.absolute_url }}" class="hs-arrow-btn">{{  module.blog_listing.read_more_text }} <span><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
									<path d="M0 1.07901V0.000234218L7.11964 2.5911C7.36037 2.67837 7.52286 2.91007 7.52286 3.16736V4.07311C7.52286 4.33039 7.36037 4.5621 7.11964 4.64937L0 7.24023V6.16146L6.50878 3.79176V3.4472L0 1.07901Z" fill="white"/>
									</svg></span></a></div>  
								{% endif %}
							</div> 
						</div> 
					</div>
					{% endfor %} 
				</div> 
			</div>  
			{% if contents.total_page_count > 1 %}
			<ul  class="pagination">
				{% set page_list = [-2, -1, 0, 1, 2] %}
				{% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
				{% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
				{% elif current_page_num == 2 %}{% set offset = 1 %}
				{% elif current_page_num == 1 %}{% set offset = 2 %}
				{% else %}{% set offset = 0 %}{% endif %}

				{% for page in page_list %}
				{% set this_page = current_page_num + page + offset %}
				{% if this_page > 0 and this_page <= contents.total_page_count %}
				<li><a class="blogPgLink {{ 'blogPgactive' if this_page == current_page_num }}" aria-label="Go to Page {{ this_page }}" {{ 'aria-current="true"' if this_page == current_page_num }} href="{% if this_page == 1 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(this_page) }}{% endif %}">{{ this_page }}</a></li>
				{% endif %}
				{% endfor %}
			</ul> 
			{% endif %}
		</div>
	</div>
</section>
