<!--
templateType: global_partial
label: Footer
-->

<footer class="ftr_wrpp">
	<div class="inner_wrpp">
		<div class="page-center">
			<div class="top_sec">
				<div class="flex_row">
					<div class="left_logo">
						<div class="custom_logo">
							{% module "ftr_logo" path="@hubspot/logo", label="Footer Logo",  img={src= "{{ get_asset_url('../../templates/images/logo.png') }}", width=180, override_inherited_src= true, alt="Voltaiq" } , link="/" %}
						</div>
					</div>
					<div class="right_logo">
						<div class="menus_wrpp">
							{% module "ftr_main_menu" path="@hubspot/menu" , id=182965096491 , max_levels="2",  label="Footer Menu",flyouts=false%}
						</div>
					</div>
				</div>
			</div>
			<div class="btm_sec">
				<div class="flex_row">
					<div class="left_wrpp">
						<div class="cnt">
							{% module_block module "copyright" path="@hubspot/rich_text" label="Copyright" %}
							{% module_attribute "html" %}
							<p>
								{{year}} Voltaiq. All rights reserved. <a href="#">Privacy Policy</a>  |  <a href="#">Terms of Service</a>
							</p>
							{% end_module_attribute %}
							{% end_module_block %}
						</div>
					</div>
					<div class="right_wrpp">
						<div class="inner_Cnt">
							{% module "u4m-footer-social-share" path="../../modules/u4m-footer-social-share", label="Footer Social Share" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
