{% set moduleName = 'u4m-quote-cards' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}
{{ macros.contentGroup(module.intro_content) }}
<div class="page-center">
  {# Module content goes here #}
  <div class="quote_card_wrap ">
    <div class="quote_slides ">
      {% for item in module.cards %}
      <div class="quote_slide">
        <div class="quote_flex">
          <div class="quote_img">
            {% if item.author_image.src %}
            <img src="{{ item.author_image.src }}" alt="{{ item.author_image.alt }}">
            {% endif %}
            {% if item.logo_image.src %}
            <div class="logo_wrap">
              <img src="{{ item.logo_image.src }}" alt="{{ item.logo_image.alt }}">
            </div>
            {% endif %}
          </div>
          <div class="quote_cnt">
            <div class="quote_cnt_inr">
              {{ item.content }}
            </div>
            <div class="quote_bio">
              <div class="quote_ath">
                {{ item.author_name }}
              </div>
              <div class="quote_deg">
                {{ item.designation }}
              </div>
            </div>
          </div> 
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if module.module_settings.add_bottom_shape %} 
<div class="shape_img bottom_shape">
  <svg xmlns="http://www.w3.org/2000/svg" width="1512" height="109" viewBox="0 0 1512 109" fill="none">
    <rect y="80" width="1204" height="29" fill="black"/>
    <path d="M1204 109V80L1223.5 33.5H1233.5L1262 109H1271.5L1312 0V109H1204Z" fill="black"/>
    <rect x="1311" width="200" height="109" fill="black"/>
  </svg>
</div>
{% endif %}

</section>

{% require_css %} 
<style>
  .u4m-quote-cards .slick-next.slick-arrow { 
    background-image: url({{ get_asset_url('../../templates/images/right_arrow.png') }}); 
  }
  .u4m-quote-cards .slick-prev.slick-arrow { 
    background-image: url({{ get_asset_url('../../templates/images/left_arrow.png') }}); 
  }
</style>
{% end_require_css %}

{% require_js %}
<script>

  $(".{{name}} .quote_slides").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,  
    autoplay: true,
    autoplaySpeed: 5000
    });



</script>
{% end_require_js %}
