@import "../../css/_module-imports";

.u4m-hero {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    position: absolute;
    background: $darkBluemd;
    filter: blur(196.21px);
    transform: matrix(-0.64, -0.77, 0.72, -0.69, 0, 0);
    width: 1369.16px;
    height: 609.76px;
    right: -110px;
    border-radius: 100%;
  }
  .page-center {
    position: relative;
    z-index: 3;
    > .flex_row {
      .left_sec {
        max-width: 100%;
        .intro-content {
          margin: 0;
          .page-center-intro {
            .content-section {
              margin-bottom: 48rem;
            }
            h2 {
              margin-bottom: 9px;
            }
          }
        }
      }
      .right_sec {
        max-width: 100%;
      }
    }

    > .flex_row.noImg {
      justify-content: center;
      .page-center-intro {
        max-width: 714rem;
      }
    }
    > .flex_row:not(.noImg) {
      @include tabletvertMin {
        margin-left: -20px;
        margin-right: -20px;
      }
      @include navbreakMin {
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
      }
      @include laptopMin {
        gap: 126px;
      }

      @include tabletvert {
        row-gap: 40px;
      }
      .left_sec {
        @include tabletvertMin {
          max-width: 50%;
          padding-left: 20px;
          padding-right: 20px;
        }
        @include navbreakMin {
          max-width: 617px;
          padding-left: 0;
          padding-right: 0;
        }
        max-width: 100%;
        .intro-content {
          margin: 0;
          text-align: left;
          .page-center-intro {
            .button-wrap {
              justify-content: start;
            }
          }
        }
      }
      .right_sec {
        @include tabletvertMin {
          max-width: 50%;
          padding-left: 20px;
          padding-right: 20px;
        }
        @include navbreakMin {
          max-width: 570px;
          padding-top: 21px;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  .shape_img {
    width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
    z-index: 3;
    background-position: center;
    background-size: cover;
    @include tabletvert {
      display: none;
    }
  }
}
