{% set moduleName = 'u4m-hero' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

<div class="page-center updated">
	<div class="flex_row {% if module.media_section.image.src %}{% else %}noImg{% endif %}">
		<div class="left_sec">
			{{macros.contentGroup(module.intro_content  )}}
		</div>
		{% if module.media_section.image.src %}
		<div class="right_sec">
			<img src="{{ module.media_section.image.src|escape_url }}" alt="{{ module.media_section.image.alt|escape_attr }}">
		</div>
		{% endif %}
	</div>
</div>

{% if module.module_settings.enable_shape %}
<div class="shape_img bottom_shape">
  <svg xmlns="http://www.w3.org/2000/svg" width="1512" height="109" viewBox="0 0 1512 109" fill="none">
    <rect y="80" width="1204" height="29" fill="black"/>
    <path d="M1204 109V80L1223.5 33.5H1233.5L1262 109H1271.5L1312 0V109H1204Z" fill="black"/>
    <rect x="1311" width="200" height="109" fill="black"/>
  </svg>
</div>
{% endif %}

</section>
{% if module.module_overrides.enable_overrides %}
{% if module.module_overrides.background.include_overlay %}
{% if module.module_overrides.background.image_top || module.module_overrides.background.image_bottom  %}
{% require_css %}
<style>
	{% scope_css %}
	.u4m-hero{
		position:relative;
	}
	.u4m-hero:before,
	.u4m-hero:after{
		content:"";
	}

	{% if module.module_overrides.background.image_top %}
	.u4m-hero:before{
    bottom: 0;
	}
	{% endif %}
	{% if module.module_overrides.background.image_bottom %}
	.u4m-hero:after{
    top: 0;
	}
	{% endif %}
	{% if module.module_overrides.bottom_padding == 'bottom-padding-custom' %}
		@media (max-width: 1440px) and (min-width: 992px) {
			section.{{ moduleName}}{
				padding-bottom: 70rem;
			}
		}
	{% endif %}
	{% end_scope_css %}
</style>
{% end_require_css %}
{% endif %}
{% endif %}
{% endif %}