{% set moduleName = 'u4m-hero' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

<div class="page-center">
	<div class="flex_row {% if module.media_section.image.src %}{% else %}noImg{% endif %}">
		<div class="left_sec">
			{{macros.contentGroup(module.intro_content  )}}
		</div>
		{% if module.media_section.image.src %}
		<div class="right_sec">
			<img src="{{ module.media_section.image.src|escape_url }}" alt="{{ module.media_section.image.alt|escape_attr }}">
		</div>
		{% endif %}
	</div>
</div>

{% if module.module_settings.enable_shape_image %}
<div class="shape_img" style="background-image:url({{ module.module_settings.shape_image.src }})"></div>
{% endif %}

</section>
{% if module.module_overrides.enable_overrides %}
{% if module.module_overrides.background.include_overlay %}
{% if module.module_overrides.background.image_top || module.module_overrides.background.image_bottom  %}
{% require_css %}
<style>
	{% scope_css %}
	.u4m-hero{
		position:relative;
	}
	.u4m-hero:before,
	.u4m-hero:after{
		content:"";
	}

	{% if module.module_overrides.background.image_top %}
	.u4m-hero:before{
    bottom: 0;
	}
	{% endif %}
	{% if module.module_overrides.background.image_bottom %}
	.u4m-hero:after{
    top: 0;
	}
	{% endif %}
	{% end_scope_css %}
</style>
{% end_require_css %}
{% endif %}
{% endif %}
{% endif %}