@import "../../css/_module-imports";

@include introContent;



.u4m-cards {
  .intro-content {
    .page-center-intro {
      @include center;
      text-align: left;
      margin-bottom: 81px;

      @include phone {
        margin-bottom: 50px;
      }
    }
  }

  .inner_cnt {
    display: flex;
    column-gap: 76px;
    flex-wrap: wrap;

    .pd {
      .top_icon {
        margin-bottom: 20px;

        img {
          width: 56px;
          height: 56px;
          object-fit: cover;
        }
      }

      h1 {
        margin: 0;
      }

      h2 {
        margin: 0;
      }

      h3 {
        margin: 0;
      }

      h4 {
        margin: 0;
      }

      h5 {
        margin: 0;
      }

      h6 {
        margin: 0;
      }

      .content-section {
        margin-top: 5px;
      }

      .button-wrap {
        margin-top: auto;
        padding-top: 20px;
      }
    }

    .items {
      .pd {
        height: 100%;
        display: flex;
        flex-direction: column;

        .cnt {
          height: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }

  }

  .inner_cnt.three_col {
    .items {
      @include tabletMin {
        width: calc(33.3% - 51px);
      }

      @include tablet {
        width: calc(50% - 20px);
      }

      @include phone {
        width: 100%;
      }
    }

    @include tablet {
      gap: 40px;
    }
  }

  .inner_cnt.four_col {
    .items {
      @include laptopMin {
        width: calc(25% - 57px);
      }

      @include laptop {
        width: calc(50% - 20px);
      }

      @include phone {
        width: 100%;
      }
    }

    @include laptop {
      gap: 40px;
    }
  }
}