@import "../../css/_module-imports";

.u4m-cards {
  overflow: hidden;

  &:before {
    background: $darkBluemd;
    filter: blur(196.21px);
    height: 382px;
    left: auto;
    position: absolute;
    top: auto;
    transform: matrix(-0.64, -0.77, 0.72, -0.69, 0, 0);
    width: 858px;
    right: 0%;
  }
  .cntnt_left {
    .intro-content {
      .page-center-intro {
        text-align: left;
      }
    }
  }
  .cntnt_right {
    .intro-content {
      .page-center-intro {
        text-align: right;
      }
    }
  }
  .intro-content {
    .page-center-intro {
      @include centerSmall;
      margin-bottom: 81px;
      position: relative;
      z-index: 22;

      @include phone {
        margin-bottom: 50px;
      }

      .button-wrap {
        justify-content: flex-start;
      }
    }
  }

  .inner_cnt {
    display: flex;
    column-gap: 76px;
    row-gap: 50px;
    flex-wrap: wrap;
    position: relative;
    z-index: 22;
    justify-content: center;
    &.five_col {
    column-gap: 20px;
    }
    .pd {
      .top_icon {
        margin-bottom: 20px;

        img {
          width: 56px;
          height: 56px;
          object-fit: cover;
        }
      }

      h4 {
        margin: 0;
      }

      .content-section {
        margin-top: 5px;

        p {
          @include b2;
        }
      }

      .button-wrap {
        margin-top: auto;
        padding-top: 20px;
      }
    }

    .items {
      .pd {
        height: 100%;
        display: flex;
        flex-direction: column;

        .cnt {
          height: 100%;
          display: flex;
          flex-direction: column;

          .eyebrow {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .inner_cnt.three_col {
    .items {
      @include tabletMin {
        width: calc(33.3% - 51px);
      }

      @include tablet {
        width: calc(50% - 20px);
      }

      @include phone {
        width: 100%;
      }
    }

    @include tablet {
      gap: 40px;
    }
  }

  .inner_cnt.four_col {
    .items {
      @include laptopMin {
        width: calc(25% - 57px);
      }

      @include laptop {
        width: calc(50% - 20px);
      }

      @include phone {
        width: 100%;
      }
    }

    @include laptop {
      gap: 40px;
    }
  }

  .inner_cnt.five_col {
    .items {
      @include laptopMin {
        width: calc(20% - 16px);
      }

      @include laptop {
        width: calc(33.33% - 27px);
      }

      @include tablet {
        width: calc(50% - 20px);
      }

      @include phone {
        width: 100%;
      }
    }

    @include laptop {
      gap: 40px;
    }
  }
}
