// Colors - For transparency use rgba($themeColor, 0.5) = 50% opaque
$error: #e54a38;
$gray1: #dbe2e9;
$gray2: #ebeff3;
$gray3: #cacaca;
$white: #ffffff;
$black: #000;

// New brand colors
$highlightColor: #00e9ba;
$headingColor: #ffffff;
$bodyColor: #dbe2e9;
$backgroundColor: #000000;
$themeColor: #0066ff;
$cardBgColor: rgba(183, 186, 188, 0.1);
$cardHighlightColor: #011432;
$borderDark: rgba(183, 186, 188, 0.3);
$blackLight: #131822;
$DarkBlue: #00255d;
$lightBlue: #001b44;
$darkBluemd: #01255c;
$skyBlue: #003b94;
$skyBlueLight: #003b94;

$grey4: #c1c7cb;
$grey5: #b7babc;

$primaryGradientColor: linear-gradient(87.43deg, $lightBlue -14.67%, $backgroundColor 58.26%);
$secondaryGradientColor: linear-gradient(106.91deg, $skyBlue 4.96%, $themeColor 27.56%, $highlightColor 89.86%);

$primaryGradientreverseColor: linear-gradient(261deg, $lightBlue -14.67%, $backgroundColor 58.26%);
$secondaryGradientreverseColor: linear-gradient(255deg, $skyBlue 4.96%, $themeColor 27.56%, $highlightColor 89.86%);

$gradientObsidian: linear-gradient(87.43deg, $lightBlue -14.67%, $backgroundColor 58.26%);

$gradientMidnight: linear-gradient(106.42deg, $backgroundColor 7.89%, $skyBlueLight 69.38%, $themeColor 101.3%);
$gradientDeepSea: linear-gradient(107.56deg, $backgroundColor -28.56%, $themeColor 38.12%, $highlightColor 112.85%);
$gradientTropicalSea: linear-gradient(93.03deg, $themeColor -44.88%, $highlightColor 109.68%);
$gradientSky: linear-gradient(102.98deg, $themeColor -12.29%, $bodyColor 124.42%);

$teamPopup: linear-gradient(89.41deg, $backgroundColor 5.37%, $DarkBlue 98.16%);

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap");

$font1: "Space Grotesk", sans-serif;
$font2: "Poppins", sans-serif;
$fontAwesome: "Font Awesome 5 Pro";
$baseFontSize: 15rem;
$baseLineHeight: 1.61803398875; // Golden ratio
// Border Radius
$border1: 4rem;
$border2: 5rem;
$border3: 10rem;
// Shadow
$shadow1: 2px 4px 15px rgba($backgroundColor, 0.1);
$shadow2: 0 5rem 25rem 0 rgba($backgroundColor, 0.2);
$shadow3: 0 10rem 50rem 0 rgba($backgroundColor, 0.3);
$textShadow1: 0 0 4rem rgba($backgroundColor, 0.3);
// Animation
$animation1: 0.1s ease-in;
$animation2: 0.25s ease-in;
$animation3: 1s ease-in;

$font16: 16rem;
