section.u4m-blog-post {
  /*****************************************/
  /* .hero                                 */
  /*****************************************/
  div.hero {
    background-color: $gray1;
    margin-bottom: 50rem;
    position: relative;
    padding-top: 105px;
    div.share {
      position: absolute;
      max-width: 50rem;
      left: 50rem;
      a {
        font-size: 26rem;
        margin: 5rem;
        &:hover {
          color: $backgroundColor;
        }
      }
      @include tablet {
        display: none;
      }
    }
    div.content {
      @include center;
      max-width: 1000rem;
      padding: 50rem 20rem 40rem 20rem;
      max-width: 800rem;
      h1.title {
        @include h1;
        margin: 0;
      }
      div.author-wrap {
        display: flex;
        align-items: center;
        margin-top: 10rem;
        div.avatar {
          height: 50rem;
          width: 50rem;
          border-radius: 50%;
          background-size: cover;
          background-position: 50%;
          margin: 5rem 10rem 0 0;
          background-image: url("https://f.hubspotusercontent30.net/hubfs/302335/default-avatar.png");
        }
        div.author-link {
          a {
            font-weight: bold;
            &:hover {
              color: $backgroundColor;
            }
          }
        }
      }
    }
  }
  /*****************************************/
  /* .body                                 */
  /*****************************************/
  div.body {
    @include center;
    max-width: 800rem;

    @include phone {
      padding: 0;
    }
    div.content {
      p,
      ul,
      ol {
        @include b1;
      }
      h1 {
        @include h1;
      }
      h2 {
        @include h2;
      }
      h3 {
        @include h3;
      }
      h4 {
        @include h4;
      }
      h5 {
        @include h5;
      }
      h6 {
        @include h6;
      }
      blockquote {
        @include blockquote;
        p {
          @include blockquote;
        }
      }
      a {
        font-weight: bold;
        color: $linkBlog;
        &:hover {
          color: $linkBlog;
        }
      }
    }
    div.topics {
    }
  }
  /*****************************************/
  /* .author                               */
  /*****************************************/
  div.author {
    @include center;
    max-width: 800rem;
    margin-top: 50rem;
    display: flex;
    margin-bottom: 50rem;
    align-items: center;
    @include phone {
      display: block;
    }
    div.meta {
      flex: 0 0 170rem;
      text-align: center;
      div.avatar {
        width: 100rem;
        height: 100rem;
        background-image: url("https://f.hubspotusercontent30.net/hubfs/302335/default-avatar.png");
        background-size: cover;
        background-position: 50%;
        border-radius: 50%;
        margin: 0 auto;
        @include phone {
          margin-bottom: 30rem;
        }
      }
    }
    div.bio {
      .name {
        @include h5;
        margin: 0;
      }
      p {
        @include b2;
        margin-top: 20px;
      }
      .social {
        .label {
          @include b1;
          @include phone {
            @include b3;
          }
        }
        a {
          font-size: 20rem;
          margin-left: 10rem;
          @include phone {
            font-size: 18rem;
            margin-left: 8rem;
          }
        }
      }
    }
  }
  /*****************************************/
  /* .comments                             */
  /*****************************************/
  div.comments {
    margin-bottom: 100rem;
    h2.heading {
      @include h3;
      @include center;
      text-align: center;
      margin: 100rem auto 0 auto;
    }
    div.content {
      @include center;
      max-width: 800rem;
      margin-top: 50rem;
      form {
        @include form;
        .hs-button {
          @include primaryBtn;
        }
      }
    }
  }
}

//cm blog post style

.blog_post_hero {
  padding-top: 180px;
  padding-bottom: 92px;
  @include phone {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .post_herotag {
    margin-bottom: 18px;
    a {
      @include eyebrow;
      color: $highlightColor;
      display: inline;
      margin: 0;
    }
  }

  .post_hero_titlw {
    color: $white;
    margin-bottom: 25px;
    & * {
      color: inherit;
    }
  }

  .post_hero_meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;

    a {
      font-weight: bold;
    }
  }

  .post_quote_card {
    .u4m-quote-cards {
      .intro-content {
        margin-bottom: 0;
      }
    }
  }

  .post_hero_image {
    max-width: 700px;
    width: 100%;
    border-radius: 5px;
    width: 53%;
    &.desktop {
      display: none;
    }
    @include largelaptopMin {
      &.desktop {
        display: block;
      }
      &.mobile {
        display: none;
      }
    }
    img {
      overflow: hidden;
      border-radius: 5px;
    }
    @include tablet {
      height: auto;
      width: 100%;
      padding-right: 0;
      padding-right: 0;
      max-width: 100%;
    }
    @include largelaptopMin {
      height: 350px;
      background-size: cover;
      background-position: center;

      .mobile {
        display: none;
      }
      .desktop {
        display: block;
      }
    }
  }

  .hero_content {
    width: 47%;
    padding-right: 42px;

    @include tablet {
      width: 100%;
      padding-right: 0;
      margin-bottom: 20rem;
    }
  }

  &:before {
    background: #01255c;
    border-radius: 100%;
    filter: blur(196.21px);
    height: 609.76px;
    position: absolute;
    transform: matrix(-0.64, -0.77, 0.72, -0.69, 0, 0);
    width: 1369.16px;
    content: "";
    left: -2%;
  }

  &:after {
    content: "";
    background: #01255c;
    border-radius: 100%;
    filter: blur(196.21px);
    height: 609.76px;
    position: absolute;
    right: -110px;
    transform: matrix(-0.64, -0.77, 0.72, -0.69, 0, 0);
    width: 1369.16px;
  }

  position: relative;
  z-index: 2;
  overflow: hidden;

  &:before {
    bottom: 0;
  }

  &:after {
    top: 0;
  }

  .page-center {
    position: relative;
    z-index: 3;
  }
}
.blog_post_body_wrap {
  padding-top: 100px;
  padding-bottom: 124px;
  @include phone {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .blog_post_body_inner_wrap {
    @include b1;

    .page-center {
      position: relative;
    }
  }

  .social_share_wrap {
    @include laptop {
      left: 5%;
    }

    @include tabletMin {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }

    @include tablet {
      padding-top: 30rem;
    }

    div#share {
      @include tabletMin {
        position: sticky;
        top: 120px;
      }
      .share_icon {
        display: flex;
        flex-wrap: wrap;
        margin-top: 22px;
        gap: 17px;

        .copy_text {
          cursor: pointer;
          position: relative;
          .tooltipPropmt {
            background-color: $DarkBlue;
            border-radius: 4px;
            color: $white;
            display: none;
            font-size: 10px;
            left: 50% !important;
            line-height: 1;
            padding: 5px;
            pointer-events: none;
            position: absolute;
            top: -30px !important;
            transform: translateX(-50%);
            width: 81px;
            z-index: 1;
            text-align: center;
            &:after {
              content: "";
              position: absolute;
              bottom: -5px;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid $DarkBlue;
              left: 0;
              right: 0;
              margin: 0 auto;
              width: 5px;
            }
          }
        }

        @include tabletMin {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        svg {
          display: block;
        }
        a {
          svg {
            * {
              transition: 0.3s all ease-in;
            }
          }
          &:hover svg {
            * {
              fill: $highlightColor;
            }
          }
        }
      }

      .text {
        @include eyebrow;
        font-size: 12rem;
        line-height: 1;
        color: $highlightColor;
        letter-spacing: 0.15em;
        text-transform: uppercase;
      }
    }
  }
}

.input_copy {
  display: block;
  height: 2px;
  opacity: 0;
  position: absolute;
  width: 40px;
  top: 100%;
  input {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// ========
@mixin ctaRow {
  @include tabletvertMin {
    .page-center {
      .main_cta {
        .inner_wrpp {
          .flex_row {
            .right_sec {
              .bg {
                top: 45px;
              }
            }
            .left_sec {
              padding: 59px 35px 63px 100px;
            }
          }
        }
      }
    }
  }
}
.hs-blog-listing {
  .ftr_wrpp {
    @include phoneMin {
      padding-top: 269px;
    }
    padding-top: 200px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(89.41deg, $backgroundColor 5.37%, $DarkBlue 98.16%);
      top: 0;
      left: 0;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .inner_wrpp {
      position: relative;
    }
  }
  .u4m-cta-row {
    margin-bottom: -150px;
    position: relative;
    z-index: 6;
    padding-bottom: 0;
    background: transparent;
    @include ctaRow;
  }
}

.hs-blog-post {
  .ftr_wrpp {
    @include phoneMin {
      padding-top: 269px;
    }
    padding-top: 200px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(89.41deg, $backgroundColor 5.37%, $DarkBlue 98.16%);
      top: 0;
      left: 0;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    .inner_wrpp {
      position: relative;
    }
  }
  .u4m-cta-row {
    margin-bottom: -150px;
    position: relative;
    z-index: 6;
    padding-bottom: 0;
    background: transparent;
    @include ctaRow;
  }
}
