// Intro Content
@mixin bodyContent {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-family: $font2;
}

@mixin introContent {
  .module_basic {
    @include bodyContent;
  }
  .intro-content {
    text-align: center;
    .eyebrow {
      @include eyebrow;
    }
    .content-section {
      margin-bottom: 40rem;
      @include b1;
    }
  }
}
