// Viewports & Browsers

@mixin xs-phone {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin phoneMin {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tabletvert {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin tabletvertMin {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tabletMin {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin navbreak {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin navbreakMin {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin laptopMin {
  @media (min-width: 1441px) {
    @content;
  }
}
@mixin largelaptop {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin largelaptopMin {
  @media (min-width: 1601px) {
    @content;
  }
}

@mixin desktop1850 {
  @media (max-width: 1850px) {
    @content;
  }
}


@mixin desktop {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin safari {
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

@mixin firefox {
  @-moz-document url-prefix() {
    @content;
  }
}

@mixin nonmobile {
  @media (min-width: 1040px) {
    @content;
  }
}

// Set base rem font (1rem = 1px) sizes & antialiasing
@mixin remScalling {
  html {
    font-size: 1px;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-rendering: optimizeLegibility;
  }

  /* auto scale down elements on mobile */
  html {
    @include phone {
      font-size: 1px;
    }
  }

  /* auto scale up elements on large displays */
  html {
    @include large {
      font-size: 1px;
    }
  }
}

// Centering
@mixin center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1353rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

@mixin centerlg {
  @include center;
  max-width: 1050rem;
}

@mixin centerMd {
  @include center;
  max-width: 1254rem;
}

@mixin centerSmall {
  @include center;
  max-width: 1152rem;
}

@mixin center811 {
  @include center;
  max-width: 811rem;
}

@mixin centerXs {
  @include center;
  max-width: 767rem;
}

// Links
@mixin link {
  text-decoration: none;
  /* Remove default underline */
  color: $bodyColor;
  transition: $animation1;
  display: inline-block;

  &:hover {
    color: $white;
  }
}

@mixin maxHeight900 {
  max-height: 900px;
}

@mixin maxHeight900 {
  @media (max-height: 900px) {
    @content;
  }
}
