// *********************************************************************************************************************************************************************
@mixin form {
  background-color: rgba($gray1, 1);
  padding: 43rem 50rem;
  max-width: 765rem;
  margin: 30rem auto 30rem auto;
  float: none;
  overflow: auto;
  border-radius: 10rem;
  width: 100%;
  color: $black;
  @include tablet {
    padding: 20rem;
  }

  h3 {
    @include h3;
    color: $black !important;
  }

  div.legal-consent-container {
    p {
      font-size: 12rem;
      line-height: 1.66666;
      color: inherit;
    }
    .hs-form-booleancheckbox label {
      @include b3;
    }
  }
  &.hs-form,
  &.mixitup-multifilter,
  & {
    fieldset {
      max-width: none;
    }
    .hs_error_rollup {
      flex: 0 0 100%;
      margin: 0;
      ul.hs-error-msgs {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        li {
          margin-bottom: 0;
          label {
            color: $errorRed;
            font-size: 18rem;
            padding: 10rem 0 0;
            margin: 10rem 0;
            display: block;
            flex: 0 0 100%;
            font-weight: normal;
            text-transform: none;
            font-family: $font1;
          }
        }
      }
    }
    .hs-form-field {
      position: relative;
      margin-bottom: 20rem;
      > label {
        font-weight: 500;
        pointer-events: auto;
        margin-bottom: 8rem;
        display: block;
        color: $black;
        font-family: $font1;
        font-size: 12rem;
        line-height: 1.166;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
      }
      margin-bottom: 20rem;

      ul.hs-error-msgs {
        li {
          position: relative;
          text-align: center;
          background: $errorRed;
          display: inline-block;
          color: $white;
          border-radius: 5rem;
          padding: 5rem 8rem;
          line-height: 1.2;
          position: absolute;
          top: 0;

          top: calc(100% + 7px);
          left: 0;
          z-index: 2;

          &:before {
            border-style: solid;
            border-width: 0 8rem 8rem 8rem;
            bottom: 100%;
            border-color: transparent transparent $error transparent;
            position: absolute;
            height: 8rem;
            width: 0rem;
            content: "";
            left: 0;
            right: 0;
            margin: auto;
            right: auto;
            left: 20px;
          }

          label {
            font-size: 12rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
            display: inline-block;
            font-weight: bold;
            line-height: 1.4;
            margin-bottom: 0;
            margin-top: 1rem;
            color: $white;
            font-family: $font1;
            @include phone {
              font-size: 12rem;
            }
          }
        }
      }
    }

    .input {
      input[type="color"],
      input[type="date"],
      input[type="datetime-local"],
      input[type="datetime"],
      input[type="email"],
      input[type="month"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="tel"],
      input[type="text"],
      input[type="time"],
      input[type="url"],
      input[type="week"],
      select,
      textarea {
        border: 1rem solid transparent;
        border-radius: 4rem;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16rem; // Note anything below 16rem will trigger the zoom feature on iOS
        background-color: $white;
        padding: 16rem;
        width: 100%;
        -webkit-appearance: none;
        padding: 12px;
        height: 48px;
        background: $white;
        border-radius: 0;
        outline: none;
        border: none;
        border-radius: 5rem;
        color: $black;
        &.error,
        &.invalid {
          border: 1rem solid $errorRed;
        }
        &::placeholder {
          color: rgba($gray3, 0.5);
        }
      }
      input[type="checkbox"],
      input[type="radio"] {
        width: auto;
      }
      input select {
        border: 0;
        border-radius: 4rem;
        margin-top: 2rem;
        margin-bottom: 20rem;
        font-size: 16rem; // Note anything below 16rem will trigger the zoom feature on iOS
        background-color: $white;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url("//cdn2.hubspot.net/hubfs/302335/select-arrow.png") no-repeat;
        background-size: 13rem 8rem;
        background-position: 97% 51%;
        cursor: pointer;
      }
      & + .hs-error-msgs {
        display: block;
        margin-bottom: 0;
        @include phone {
          position: relative;
        }
        li {
          display: block;
          line-height: 1.2;
          margin-bottom: 0;
          color: $errorRed;
          label {
            font-size: 12rem;
            font-family: $font1;
            text-transform: uppercase;
            letter-spacing: 1rem;
            display: inline-block;
            font-weight: bold;
            line-height: 1.4;
            margin-bottom: 0;
            margin-top: 1rem;
            color: $errorRed;
            @include phone {
              font-size: 12rem;
            }
          }
        }
      }
    }
    .hs_upload_resume {
      margin-bottom: -3rem;
    }
    textarea {
      min-height: 140rem;

      width: 100%;
      &.invalid {
        border: 1px solid $errorRed;
      }
    }
    ul {
      padding: 0;
      &.inputs-list {
        margin-bottom: 17rem;
      }
    }
    li {
      list-style-type: none;
      &.hs-form-booleancheckbox {
        margin-bottom: 0;
      }
    }
    .hs-form-checkbox,
    .hs-form-booleancheckbox,
    .hs-form-checkbox,
    .hs-form-booleancheckbox {
      line-height: 1.2;
      input {
        width: auto;
        margin: 0 10rem 15rem 0;
        position: relative;
        top: 8rem;
        float: left;
      }
      label {
        font-size: 16rem;
        font-weight: normal;
        display: flex;
        align-items: center;
        span {
          position: relative;
          top: 2rem;
          font-size: 14rem;
        }
      }
    }
    .hs-form-radio,
    .form-columns-1 .hs-form-radio,
    .form-columns-2 .hs-form-radio,
    .form-columns-3 .hs-form-radio {
      display: inline-block;
      margin-right: 20rem;
      input {
        width: auto;
        margin-right: 10rem;
        margin-left: 2rem;
        position: relative;
        top: -2rem;
      }
      span {
        font-size: 14rem;
        font-weight: normal;
      }
      @include phone {
        display: block;
        input {
          margin-bottom: 0;
          position: relative;
          top: 2rem;
        }
      }
    }
    .form-columns-3 {
      .hs-form-field {
        width: 33.05%;
        @include tablet {
          width: 100%;
        }
        @include phone {
          width: 100%;
        }
      }
      div:last-child div {
        margin-right: 0;
      }
    }
    .form-columns-2 {
      .hs-form-field {
        @include phone {
          width: 100%;
        }
      }
    }
    .form-columns-1,
    .form-columns-2,
    .form-columns-3 {
      .input,
      select {
        margin-right: 0;
        width: 100%;
      }
      div div,
      div:last-child div {
        @include phone {
          margin-right: 8rem;
          .hs-input:not([type="checkbox"]):not([type="radio"]) {
            width: 100%;
          }
        }
      }
    }
    .form-columns-2 {
      & > div {
        width: calc(50% - 10rem);
        &:last-of-type {
          margin-left: 20rem;
          @include phone {
            margin-left: 0;
          }
        }
      }
    }

    .hs-button {
      @include primaryBtn;
      margin-bottom: 0;
    }

    .hs-form__virality-link {
      margin-top: 20rem;
    }
  }

  .legal-consent-container {
    margin-bottom: 20rem;
  }
}

@mixin formSub {
  @include form;
  margin: 0;
  padding-bottom: 0px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 543px;
  width: 100%;
  background: none;
  padding: 0;
  border-radius: 0;
  overflow: unset;

  .hs-fieldtype-text {
    > label {
      display: block;
      line-height: 1.25;
      margin-bottom: 9px;
      color: $white;
    }
  }

  @include phone {
    .hs_submit.hs-submit {
      width: 100%;
    }
  }

  input {
    min-height: 48px;
    border-radius: 5px;
    border: 0;
  }

  input.hs-button.primary.large {
    margin: 0;
    margin-top: 28px;
    min-width: auto;

    @include phone {
      margin: 0;
    }
  }

  .hs-form-field {
    max-width: calc(100% - 183px);
    width: 100%;
    margin: 0;

    @include phone {
      max-width: 100%;
    }
  }

  ul.hs-error-msgs {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    li:before {
      border-color: transparent transparent $errorRed;
    }

    li {
      background: $errorRed;
      color: $white;
    }
  }

  .hs_error_rollup {
    display: none;
  }

  @include tabletvert {
    width: 100%;
    max-width: 100%;
  }

  @include phone {
    flex-direction: column;
  }
}
