{% set moduleName = 'u4m-pricing-cards' %}
  {% set imageMax = 300 %}
  {% set imageFillMax = 720 %}
  {% set bgImageMax = 1920 %}

  {% include "../partials/u4-module-includes.html" %}
  
  
  <div class="top_sctn">
    {{macros.contentGroup(module.intro_content)}} 
  </div>
  
  <div class="page-center-md">
    <div class="flex_row">
      {% for item in module.plans %}
      <div class="plan_item {% if item.featured_plan %} featured_plan {% endif %}">
        <div class="plan_item_inr">
          <div class="plan_top {% if item.featured_plan %} featured_plan_top {% endif %}">
            {% if item.plan_name %}
            <h4>
              <span>{{ item.plan_name }}</span>
            </h4>
            {% endif %}
            {% if item.price %}
            <h3>
              {{ item.currency }}{{ item.price }}{{ item.suffix }}
            </h3>
            {% endif %}
          </div>
  
          <div class="plan_btm">
            {% if item.plan_name %}
            <div class="plan_desc">
              {{ item.description }}
            </div>  
            {% endif %}
  
            </div>
            {{ macros.buttonGroup(item.buttons) }}
  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  
  
  </section>
  
  