@import "../../css/_module-imports";

.u4m-pricing-cards {
  .intro-content {
    margin-bottom: 105px;
    @include phone {
      margin-bottom: 40px;
    }
  }
  .flex_row {
    flex-wrap: nowrap;
    gap: 10px;
    @include tabletvert {
      flex-wrap: wrap;
      gap: 30px;
    }
    .plan_item {
      width: 33.33%;
      @include tabletvert {
        width: 100%;
      }
      &.featured_plan {
        margin-top: -50px;
        @include tabletvert {
          margin-top: 0;
        }
      }

      .plan_item_inr {
        border-radius: $border2;
        background-color: $cardBgColor;
        overflow: hidden;
        box-shadow: 2px 4px 15px rgba($backgroundColor, 0.1);
        height: 100%;
        display: flex;
        flex-direction: column;

        .plan_top {
          @include flex;
          background-color: $cardHighlightColor;
          padding: 26px 35px;
          justify-content: center;
          align-items: center;
          text-align: center;
          min-height: 130px;
          border-bottom: 1px solid $cardBgColor;
          @include phone {
            padding: 20px;
            min-height: auto;
          }
          &.featured_plan_top {
            min-height: 180px;
            padding: 47px 35px;
            @include phone {
              padding: 30px 20px;
              min-height: auto;
            }
          }

          h4 {
            margin-bottom: 7px;
          }
          * {
            width: 100%;
          }
        }

        .plan_btm {
          text-align: center;
          padding: 33px 45px 40px;
          @include flex;
          gap: 40px;
          justify-content: center;
          @include phone {
            padding: 20px;
          }
          p {
            @include b2;
          }
        }
        .button-wrap {
          justify-content: center;
          margin-top: auto;
          padding: 0 45px 54px;
          @include phone {
            padding: 20px;
            padding-top: 0;
          }
        }
      }
    }
  }
}
