@import "../../css/_module-imports";
.u4m-slider-tab {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    height: 382.13px;
    background: $darkBluemd;
    left: 20%;
    position: absolute;
    top: 41%;
    transform: matrix(-0.64, -0.77, 0.72, -0.69, 0, 0);
    width: 858.04px;
    filter: blur(196.21px);
  }
  @include tabletvert {
    &::before {
      display: none;
    }
  }
  .intro-content {
    margin-bottom: 57rem;
    position: relative;
    .page-center-intro {
      max-width: 867px;
    }
  }
  .tabber_wrap {
    position: relative;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
    .tabber_inr {
      .tab.slick-slider .slick-list {
        display: flex;
        justify-content: center;
        .slick-track {
          display: flex;
          justify-content: center;
          transform: NONE !important;
          .tab_ttl {
            border-radius: 3px;
            .tab_txt {
              padding: 17px 30px;
              cursor: pointer;
              font-size: $font16;
              font-weight: bold;
              line-height: 1.5;
            }
            &.slick-current {
              background-color: $cardBgColor;
              color: $highlightColor;
            }
          }
        }
      }

      @include tabletvertMin {
        &.mobile_tab {
          display: none;
        }
      }
      .tabber_cnt {
        padding: 63px 0;
        .tabber_cnt_inr {
          .tabber_flex.flex_row {
            margin: 0 -15px;
            align-items: center;
            user-select: initial;
            .tabber_col {
              width: 50%;
              padding: 0 15px;
              h3 {
                margin-bottom: 8px;
              }

              p {
                margin-top: 0;
                margin-bottom: 28rem;
              }
            }
          }
        }
      }
      @include tabletvert {
        &.desktop_tab {
          display: none;
        }
        &.mobile_tab .tabs {
          .tab {
            .tab_acc_item {
              &.active {
                .tab_txt {
                  background-color: $cardBgColor;
                  color: $highlightColor;
                }
              }
              .tab_txt {
                padding: 20px;
                cursor: pointer;
                font-size: $font16;
                font-weight: bold;
                line-height: 1.5;
                border-radius: 3px;
              }
              .tabber_cnt {
                display: none;
                padding: 20px;
                .tabber_col.cnt {
                  margin-bottom: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}
