@import "../../css/_module-imports";

.u4m-alternating-content {
  position: relative;
  overflow: hidden;

  .page-center {
    position: relative;
    z-index: 3;

    > .flex_row {
      &.cntcenter {
        flex-direction: column;
        align-items: center;
        gap: 40px !important;
        .left_sec {
          max-width: 900px !important;
        }
      }
      &.right.cntcenter {
        flex-direction: column-reverse !important;
      }
      &.no_imgcnt .left_sec {
        width: 100%;
        max-width: 100% !important;
        text-align: center;
      }
      .left_sec {
        max-width: 100%;
        &.leftright .intro-content {
          text-align: right !important;
          .button-wrap {
            justify-content: flex-end !important;
          }
        }
        &.leftcenter .intro-content {
          text-align: center !important;
          .button-wrap {
            justify-content: center !important;
          }
        }
        .intro-content {
          margin: 0;

          .page-center-intro {
            .content-section {
              margin-bottom: 40rem;

              p {
                @include b2;
                color: $white;
              }
            }

            @include tabletvert {
              padding: 0;
            }
          }
        }
      }

      .right_sec {
        max-width: 100%;
        width: 50%;
        @include tabletvertMin {
          max-width: 50%;
          padding-left: 20px;
          padding-right: 20px;
        }

        @include navbreakMin {
          max-width: 576px;
          padding-top: 0px;
          padding-left: 0;
          padding-right: 0;
        }

        @include tabletvert {
          padding: 0;
        }
      }

      &:not(.noImg) {
        .left_sec {
          max-width: 100%;

          .intro-content {
            margin: 0;
            text-align: left;

            .page-center-intro {
              max-width: 100%;

              h2 {
                margin-bottom: 18px;
              }

              h1 {
                margin-bottom: 18px;
              }

              h3 {
                margin-bottom: 18px;
              }

              h4 {
                margin-bottom: 18px;
              }

              h5 {
                margin-bottom: 18px;
              }

              h6 {
                margin-bottom: 18px;
              }

              .button-wrap {
                justify-content: start;
              }
            }
          }

          @include tabletvertMin {
            max-width: 50%;
            padding-left: 20px;
            padding-right: 20px;
          }

          @include navbreakMin {
            max-width: 611px;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      @include tabletvertMin {
        &:not(.noImg) {
          margin-left: -20px;
          margin-right: -20px;
        }
      }

      @include navbreakMin {
        &:not(.noImg) {
          margin-left: 0;
          margin-right: 0;
        }
      }

      @include laptopMin {
        &:not(.noImg) {
          gap: 126px;
        }
      }

      @include tabletvert {
        &:not(.noImg) {
          row-gap: 40px;
        }
      }
    }

    @include tabletvertMin {
      .left .left_sec {
        order: 2;
      }

      .left .right_sec {
        order: 1;
      }
    }

    .flex_row.noImg {
      justify-content: center;

      .page-center-intro {
        max-width: 714rem;
      }
    }
  }

  .shape_img {
    width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
    z-index: 3;
    background-position: center;
    background-size: cover;
  }

  //

  //

  .overlay_image {
    top: 0;
    left: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    @include phoneMin {
      position: absolute;
    }
    @include phone {
      padding: 0 20rem 20rem;
    }

    &.full {
      width: 100%;
    }

    &:not(.full) {
      @include phoneMin {
        width: calc(100% - 19%);
      }
      left: auto;
      right: 0;
      img {
        @include phoneMin {
          mask: linear-gradient(
            89.6deg,
            rgba(217, 217, 217, 0) 0.35%,
            #737373 49.01%,
            rgba(115, 115, 115, 0) 99.66%
          );
          -webkit-mask: linear-gradient(
            89.6deg,
            rgba(217, 217, 217, 0) 0.35%,
            #737373 49.01%,
            rgba(115, 115, 115, 0) 99.66%
          );
        }
      }
    }
  }

  //
}
