{% set moduleName = 'u4m-alternating-content' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

{% if module.module_overrides.background.background_type == "color"%}

	{% if module.module_overrides.background.include_overlay_image %}
	
{% if module.module_overrides.background.overlay_image.background_image.src %}


<div class="overlay_image {{module.module_overrides.background.overlay_image.image_size}}" {% if module.module_overrides.background.overlay_image.image_size == "full"%}
		 style="background-image:url({{ module.module_overrides.background.overlay_image.background_image.src|escape_url }})"
		 {% endif %}>
	{% if module.module_overrides.background.overlay_image.image_size == "auto"%}
	<img src="{{ module.module_overrides.background.overlay_image.background_image.src|escape_url }}" alt="{{ module.module_overrides.background.overlay_image.background_image.alt|escape_attr }}">
	{% endif %}
</div>
{% endif %}
{% endif %}
{% endif %}

<div class="page-center">
	<div class="flex_row {{ module.module_settings.image_alignment }} {% if not module.media_section.image.src %}no_imgcnt{% endif %}" style="">
		<div class="left_sec {% if not module.media_section.image.src %}left{{ module.module_settings.content_alignment }}{% endif %}" >
			{{macros.contentGroup(module.intro_content  )}}
		</div>
    {% if module.media_section.image.src %}
		<div class="right_sec">
			<img src="{{ module.media_section.image.src|escape_url }}" alt="{{ module.media_section.image.alt|escape_attr }}">
		</div>
    {% endif %}
	</div>
</div>


</section>
