@import "../../css/_module-imports";
.u4m-team-grid {
  position: relative;
  z-index: 4;
  .page-center {
    @include center;
    .flex_row {
      row-gap: 68px;
      padding-top: 40px;
      @include phone {
        row-gap: 30px;
        padding-top: 0;
      }
      .item-inner {
        position: relative;
        .image {
          img {
            width: 181px;
            margin: 0 auto 15rem;
            display: block;
            cursor: pointer;
          }
        }
        .content-wrap {
          text-align: center;
          .view-bio.button-wrap {
            justify-content: center;
          }
          .name {
            margin-bottom: 5px;
          }
          .designation {
            @include b3;
            margin: 0 0 18px;
            text-transform: uppercase;
            letter-spacing: 2rem;
            color: $highlightColor;
          }
        }
      }
      .popup-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: none;
        height: 100%;
        z-index: 9;
        background-image: $teamPopup;
        overflow: hidden auto;
        padding: 70px 0;
        opacity: 0.97;
        .popup-container {
          max-width: 930px;
          margin: auto;
          padding: 0 15px;
          .popup-box {
            border-radius: 3px;
            background: $cardBgColor;
            box-shadow: $shadow1;
            padding: 90px 100px;
            position: relative;
            .close-icon {
              cursor: pointer;
              display: inline-block;
              left: auto;
              line-height: 0;
              position: absolute;
              right: 0;
              top: -60px;
              width: 50px;
              height: 50px;
              border: 2px solid;
              border-radius: 50%;
              @include tabletvert {
                right: 5px;
                top: 8px;
              }

              svg {
                width: 100%;
                path {
                  fill: $white;
                }
              }
            }
            .popup-inner {
              justify-content: space-between;
              .pop_flex {
                display: flex;
                flex-wrap: wrap;
                gap: 35px;
                align-items: center;
                @include phone {
                  align-items: flex-start;
                  display: flex;
                  flex-direction: column;
                }
                .media-col {
                  width: 181px;
                  border-radius: 50%;
                }
                .content-col {
                  .top-con {
                    max-width: 350px;
                    @include xs-phone {
                      max-width: 100%;
                    }
                  }  
                  .pop_name_wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;
                    .pop-social {
                      display: flex;
                      flex-wrap: wrap;
                      gap: 10px;
                    }
                    .name {
                      margin-bottom: 0;
                      line-height: 1;
                    }
                  }
                  .designation {
                    @include b3;
                    margin: 0 0 12px;
                    text-transform: uppercase;
                    letter-spacing: 2rem;
                    color: $highlightColor;
                  }
                }
              }
              .member-bio {
                padding-top: 20px;
                p {
                  @include b2;
                }
              }
            }
            @include tabletvert {
              overflow-y: auto;
              padding: 40px 20px;
            }
          }
        }
      }
      .social-icon {
        width: 36px;
        height: 36px;
        &:hover svg path {
          fill: $highlightColor;
        }
        svg {
          height: 36px;
          width: 36px;
          path {
            fill: $white;
          }
        }
      }
      .item.active .popup-wrapper {
        display: flex;
      }
      .item {
        width: 25%;
        padding: 0 15px;
        @include tablet {
          width: 50%;
          &.wdt12 {
            display: none;
          }
        }
        @include phone {
          width: 100%;
        }
        &.wdt12 {
          width: 12.5%;
        }
      }
    }
  }
}
body.popup-open .u4m-team-grid {
  z-index: 999;
}
body.popup-open {
  overflow-y: hidden;
}
