@import "../../css/module-imports";

.u4m-split-form-wrapper {
  display: block;

  .intro-content {
    text-align: left;
    .page-center-intro {
      max-width: 100%;
      padding: 0;
    }
  }

  .flex_row {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .left_column {
    @include tabletvertMin {
      width: 47.7%;
    }
  }

  .form_column {
    width: 46.2%;
  }

  .splitFormbotom {
    @include tabletvertMin {
      padding-bottom: 173px;
      padding-top: 60px;
    }
  }
}
