{% set moduleName = 'u4m-accordion' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

{{macros.contentGroup(module.intro_content  )}}
<div class="page-center">
  {# Module content goes here #}
  <div class="accordion_group">
    {% for item in module.accordion %}
    <div class="accordion_item">
      <h6 class="accordion_title">
        <span class="text">{{ item.title }}</span>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7" fill="none">
            <path d="M5 6.4319L0 1.4319L0.931903 0.5L5 4.5681L9.0681 0.5L10 1.4319L5 6.4319Z" fill="white"/>
          </svg>
        </span>
      </h6>
      <div class="accorion_text">
        <div class="inner_spacing">
          {{ item.content }}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>


</section>


{% require_js %}

<script>
 

  $(".{{ moduleName }} .accordion_item").click(function () {
    $(this).siblings().removeClass("active acactive");
    $(this).siblings().find(".accorion_text").slideUp();
    $(this).children(".accorion_text").slideToggle();
    $(this).prev().addClass("acactive")
    $(this).toggleClass("active").removeClass('acactive');
  });

  $(".{{ moduleName }} .accordion_item .accorion_text").click(function (e) {
    e.stopPropagation();
  });
  

</script>
{% end_require_js %}