@import "../../css/_module-imports";

.u4m-accordion {
  .page-center {
    max-width: 940px;
    .accordion_group {
      .accordion_item {
        padding: 20px 40px 22px;
        cursor: pointer;
        border-bottom: 1px solid rgba($grey5, 0.3);
        position: relative;
        transition: $animation2;
        h6.accordion_title {
          margin: 0;
          display: flex;
          justify-content: space-between;
          gap: 36px;
          align-items: baseline;
          span.icon {
            transition: 0.3s all ease-in;
          }
        }
        .accorion_text {
          display: none;
          .inner_spacing {
            padding-top: 8px;
            font-size: 14px;
            line-height: 1.715;
            padding-bottom: 8px;
            padding-right: 26px;
            p {
              font-size: 14px;
            }
          }
        }
        &:not(.active) {
          h6.accordion_title {
            span.text {
              color: $grey4;
            }
          }
        }
        &:last-child {
          border: none;
        }
        &:hover {
          background: rgba($grey5, 0.1);
          box-shadow: $shadow1;
          border-color: transparent;
          border-radius: 3px;
        }
        &.acactive {
          border-bottom: transparent;
        }
      }
      .accordion_item.active {
        padding: 30px 40px;
        background: rgba($grey5, 0.1);
        box-shadow: $shadow1;
        border-radius: 3px;
        border-color: transparent;
        h6.accordion_title {
          span.icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
