{% set bgImageMax = 1920 %}

  <section class="u4m-landing-page-overlap">
    <div class="landing-page-columns">
      <div class="left-column"> 
        <div class="hero">
          <div class='column-inner'> 
            <div class="text {{ 'black-text' if module.reverse_hero_text_color else 'regular-text' }}  {% unless module.hero_media_options == "none" %} has-media{% endunless %}">
              
              {% if module.include_eyebrow_image %}
                {% if module.eyebrow_image.src %}
                {% set sizeAttrs = 'width="{{ module.eyebrow_image.width|escape_attr }}" height="{{ module.eyebrow_image.height|escape_attr }}"' %}
                {% if module.eyebrow_image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.eyebrow_image.width|escape_attr }}" height="{{ module.eyebrow_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% elif module.eyebrow_image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.eyebrow_image.max_width|escape_attr }}" height="{{ module.eyebrow_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.eyebrow_image.loading != 'disabled' ? 'loading="{{ module.eyebrow_image.loading|escape_attr }}"' : '' %}
                <img class="eyebrow-image" src="{{ module.eyebrow_image.src|escape_url }}" alt="{{ module.eyebrow_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
              {% endif %}
              
              {% if module.eyebrow_text %}
                <span class="eyebrow {% if module.use_black_text %}black-text{% endif %}">{{ module.eyebrow_text }}</span>
              {% endif %}
                <h1 class="{% if module.use_black_text %}black-text{% endif %}">{{ module.headline }}</h1>
              {% if module.include_subhead %}
                <h2 class="{% if module.use_black_text %}black-text{% endif %}">{{ module.subhead }}</h2>
              {% endif %}
    
              {% if module.mobile_include_button_to_anchor_link_to_form =="include" %}
                <a href="#form" class="anchor-link-button">{{ module.anchor_link_text }}</a>
              {% endif %}
              
              
            </div>
          </div>
          
          <div class="bg-image-container {{ module.background_type }}" {% if module.background_type == "image" %}style="background-color:{{ module.hero_bg_color_overlay.color }}"{% endif %}>
            <div class="bg-image-container__image lazy"{% if module.background_type == "image" %} data-bg="{{ resize_image_url(module.hero_bg_image.src, 0,0,bgImageMax) }}" style="opacity: {{ (100 - module.hero_bg_color_overlay.opacity) * .01 }};"{% endif %}></div>
          </div>
        </div>
        <div class="additional-copy">
          <div class='column-inner'> 
          {% unless module.hero_media_options == "none" %}
            <div class="media-container">
              {% if module.hero_media_options == "image" %}
              {% if module.image_field.src %}
                {% set sizeAttrs = 'width="{{ module.image_field.width|escape_attr }}" height="{{ module.image_field.height|escape_attr }}"' %}
                {% if module.image_field.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.image_field.width|escape_attr }}" height="{{ module.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% elif module.image_field.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.image_field.max_width|escape_attr }}" height="{{ module.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
                <img class="hero-image media" src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
              {% elif module.hero_media_options == "video" %}
                {% if module.videoplayer_field.player_id %}
                  {% set max_width = module.videoplayer_field.size_type == 'auto_custom_max' ? module.videoplayer_field.max_width : module.videoplayer_field.width %}
                  {% set max_height = module.videoplayer_field.size_type == 'auto_custom_max' ? module.videoplayer_field.max_height : module.videoplayer_field.height %}
                  {% video_player "embed_player"
                    player_id={{ module.videoplayer_field.player_id }}
                    type={{ module.videoplayer_field.player_type || 'scriptV4' }}
                    full_width={{ module.videoplayer_field.size_type == 'auto_full_width' }},
                    conversion_asset={{ module.videoplayer_field.conversion_asset|tojson|safe }}
                    autoplay={{ module.videoplayer_field.autoplay }}
                    hidden_controls={{ module.videoplayer_field.hide_controls }}
                    loop={{ module.videoplayer_field.loop_video }}
                    muted={{ module.videoplayer_field.mute_by_default }}
                  %}
                {% endif %}
              {% endif %}
            </div>
            {% endunless %} 
            {{ module.body_copy }}
          </div>
        </div>       
      </div>
      <div class="right-column overlap" id="form">
        <div class='column-inner'>
        {% if widget.include_share_links %}
        <div class="custom-share {% if module.reverse_hero_text_color %} reverse-text{% endif %}">
          <div>
            <span class="label">Share </span>
            <a href="http://www.facebook.com/share.php?u={{ content.absolute_url }}" target="_blank" aria-label="Facebook">
              <img class="social-icon fb" width="21" height="21" alt="facebook share" src="/hubfs/1913583/2024%20-%20Voltaiq%20Hubspot%20Theme%20Assets/Icons/footer/facebook%20sq.svg">
            </a>
            <a href="https://twitter.com/intent/tweet?original_referer={{ content.absolute_url }}&amp;url={{ content.absolute_url }}&amp;source=tweetbutton" target="_blank" aria-label="Twitter">
              <img class="social-icon twitter" width="21" height="21" alt="twitter share" src="/hubfs/1913583/2024%20-%20Voltaiq%20Hubspot%20Theme%20Assets/Icons/footer/twitter%20sq.svg">
            </a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ content.absolute_url }}" target="_blank" aria-label="LinkedIn">
            <img class="social-icon linkedin" width="21" height="21" alt="linkedin share" src="/hubfs/1913583/2024%20-%20Voltaiq%20Hubspot%20Theme%20Assets/Icons/footer/linkedin%20sq.svg">
            </a>
            <a href="mailto:?subject=Check out {{ content.absolute_url }}" aria-label="Email">
            <img class="social-icon email" width="21" height="21" alt="email share" src="/hubfs/1913583/2024%20-%20Voltaiq%20Hubspot%20Theme%20Assets/Icons/footer/email%20sq.svg">
            </a>
          </div>    
        </div>
        {% endif %}
        <div class="form-wrap">
          {% if module.form_group.include_heading %}
          <h2 class="heading">{{ module.form_group.heading }}</h2>
        {% endif %}
          <div class="form">    
            {% include "/voltaiq/modules/partials/u4-form-fields.html" %}
          </div>
        </div>
        <div class="disclaimer">{{ module.disclaimer }}</div>
        {% if module.quote.include_quote %}
        <div class="quote">
          {% if module.quote.input_quote_manually_or_from_hubdb == "hubdb" %}    
          {% if module.quote.quote_row.columns.thumbnail %}
          <div class="author-image" 
               style="background-image: url({{ module.quote.quote_row.columns.thumbnail.url }});">
          </div>
          {% endif %}
          <span class="quotation-mark">“</span><span class="quote-text">{{ module.quote.quote_row.columns.quote }}</span><span class="quotation-mark">”</span>
          <p class="quote-author"><span class="author-name">{{ module.quote.quote_row.columns.name }}</span> <span class="author-title">{{ module.quote.quote_row.columns.company }}</span></p>
          {# Set quote manually #}
          {% else if module.quote.input_quote_manually_or_from_hubdb == "manually" %}        
          {% if module.quote.quote_author_image.src %}
          <div class="author-image"
              style="background-image: url({{ module.quote.quote_author_image.src }}">
          </div>
          {% endif %}
          <span class="quotation-mark">“</span><span class="quote-text">{{ module.quote.quote }}</span><span class="quotation-mark">”</span>
          <p class="quote-author"><span class="author-name">{{ module.quote.quote_author_first_and_last_name }}</span> <span class="author-title">{{ module.quote.quote_author_title }}</span></p>
          {% endif %}
        </div>
        {% endif %}
        </div>
      </div>
  </div>
 </section>
<script>
// Form Listener
const form = document.querySelector('#form .form-wrap');
window.addEventListener('message', function(event) {
  if (event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormReady') {
    const formHeight = form.offsetHeight;
    form.style.minHeight = formHeight + 'px';
  }
  if (event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormSubmit') {
    form.classList.add('has-thankyou');
  }
});
</script>